@page
@model RacingLeagueManager.Pages.Race.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Race.Id" />
            <div class="form-group">
                <label asp-for="Race.TrackId" class="control-label"></label>
                <select asp-for="Race.TrackId" class="form-control" asp-items="ViewBag.TrackId"></select>
                <span asp-validation-for="Race.TrackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race.RaceDate" class="control-label"></label>
                <input asp-for="Race.RaceDate" class="form-control" />
                <span asp-validation-for="Race.RaceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race.Laps" class="control-label"></label>
                <input asp-for="Race.Laps" class="form-control" />
                <span asp-validation-for="Race.Laps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race.IsNight" class="control-label"></label>&nbsp;
                <input asp-for="Race.IsNight" type="checkbox" class="checkbox checkbox-inline" />
                @*<span asp-validation-for="Race.IsNight" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
