@page
@model RacingLeagueManager.Pages.Penalty.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>@Model.RaceResult.SeriesEntry.Series.Name \ @Model.RaceResult.Race.Track.Name</h2>

<h4>Add Penalty for @Model.RaceResult.Driver.DisplayUserName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Penalty.RaceResultId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Penalty.Seconds" class="control-label"></label>
                <input asp-for="Penalty.Seconds" class="form-control" />
                <span asp-validation-for="Penalty.Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty.LicensePoints" class="control-label"></label>
                <input asp-for="Penalty.LicensePoints" class="form-control" />
                <span asp-validation-for="Penalty.LicensePoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty.Description" class="control-label"></label>
                <input asp-for="Penalty.Description" class="form-control" />
                <span asp-validation-for="Penalty.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
                <input type="submit" value="Disqualify" class="btn btn-default" asp-page-handler="Dq" />
                <a asp-page="/Race/Details" asp-route-Id="@Model.RaceResult.Race.Id" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
