@page
@model RacingLeagueManager.Pages.Penalty.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Penalty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Penalty.Id" />
            <div class="form-group">
                <label asp-for="Penalty.RaceResultId" class="control-label"></label>
                <select asp-for="Penalty.RaceResultId" class="form-control" asp-items="ViewBag.RaceResultId"></select>
                <span asp-validation-for="Penalty.RaceResultId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty.Seconds" class="control-label"></label>
                <input asp-for="Penalty.Seconds" class="form-control" />
                <span asp-validation-for="Penalty.Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty.Description" class="control-label"></label>
                <input asp-for="Penalty.Description" class="form-control" />
                <span asp-validation-for="Penalty.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
