@page
@model RacingLeagueManager.Pages.Team.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h3>@Model.Team.Series.Name - Edit Team</h3>
<a asp-page="./Index" asp-route-seriesId="@Model.Team.Series.Id">Team Index</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team.Id" />
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                
                <label asp-for="Team.SeriesId" class="control-label"></label>
                <select asp-for="Team.SeriesId" class="form-control" asp-items="ViewBag.SeriesId"></select>
                <span asp-validation-for="Team.SeriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.OwnerId" class="control-label"></label>
                <select asp-for="Team.OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="Team.OwnerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
