@page
@model RacingLeagueManager.Pages.RaceResult.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>RaceResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="RaceResult.RaceId" class="control-label"></label>
                <select asp-for="RaceResult.RaceId" class ="form-control" asp-items="ViewBag.RaceId"></select>*@
                <input asp-for="RaceResult.RaceId" type="hidden" />
            </div>
            <div class="form-group">
                @*<label asp-for="RaceResult.SeriesEntryId" class="control-label"></label>
                <select asp-for="RaceResult.SeriesEntryId" class ="form-control" asp-items="ViewBag.SeriesEntryId"></select>*@
                <input asp-for="RaceResult.SeriesEntryId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.DriverId" class="control-label"></label>
                <select asp-for="RaceResult.DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group-lg">
                <span class="label l label-danger ">PAY CLOSE ATTENTION TO THE REQUIRED TIME FORMATS!!</span><br />
                <span class="label l label-danger">BEST LAP: 1 min 23 sec lap (1:23.456) should be entered 00:01:23.456!!</span><br /> 
                <span class="label l label-danger">TOTAL TIME: 1 hr 23 mins 45 secs should be entered 01:23:45!!</span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.BestLap" class="control-label"></label>
                <input asp-for="RaceResult.BestLap" class="form-control" />
                <span class="label label-info">Format: hh:mm:ss.fff</span>
                <span asp-validation-for="RaceResult.BestLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.TotalTime" class="control-label"></label>
                <input asp-for="RaceResult.TotalTime" class="form-control" />
                <span class="label label-info">Format: hh:mm:ss</span>
                <span asp-validation-for="RaceResult.TotalTime" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="RaceResult.Place" class="control-label"></label>
                <input asp-for="RaceResult.Place" class="form-control" />
                <span asp-validation-for="RaceResult.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.Points" class="control-label"></label>
                <input asp-for="RaceResult.Points" class="form-control" />
                <span asp-validation-for="RaceResult.Points" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                <br /><br />
                <input type="submit" value="DNF" class="btn btn-default" asp-page-handler="Dnf" />
                <input type="submit" value="DNS" class="btn btn-default" asp-page-handler="Dns" />
                <input type="submit" value="Race Control" class="btn btn-default" asp-page-handler="Rc" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
