@page
@model RacingLeagueManager.Pages.SeriesEntryDriver.CreateModel
@using RacingLeagueManager.Data.Models

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SeriesEntryDriver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="SeriesEntryDriver.LeagueId" class="control-label"></label>
                <select asp-for="SeriesEntryDriver.LeagueId" class ="form-control" asp-items="ViewBag.LeagueId"></select>*@
                <input asp-for="SeriesEntryDriver.LeagueId" type="hidden" />
                <input asp-for="SeriesEntryDriver.SeriesEntry.Team.Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="SeriesEntryDriver.DriverId" class="control-label"></label>
                <select asp-for="SeriesEntryDriver.DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="SeriesEntryDriver.SeriesEntryId" class="control-label"></label>
                <select asp-for="SeriesEntryDriver.SeriesEntryId" class ="form-control" asp-items="ViewBag.SeriesEntryId"></select>*@
                <input asp-for="SeriesEntryDriver.SeriesEntryId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="SeriesEntryDriver.DriverType" class="control-label"></label>
                <select asp-for="SeriesEntryDriver.DriverType" class="form-control" asp-items="Html.GetEnumSelectList<DriverType>()"></select>
                <span asp-validation-for="SeriesEntryDriver.DriverType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Team/Details" asp-route-id="@Model.SeriesEntryDriver.SeriesEntry.Team.Id">Back to Team</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
