/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.orange-carousel {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.blue-carousel {
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.green-carousel {
    background-color: yellowgreen;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}


